.classcenter{
	width: 1200px;
	margin: 0 auto;
}
.sum_table{
	overflow:hidden;
	min-height:440px;
}
.class{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	box-shadow: 4px 4px 30px #ddd9d7;
	min-height: 500px;
}
.class_msg{
	float: right;
}
.search{
	width: 100%;
	overflow: hidden;
	padding: 16px 0;
}
.search input{
	border: 0;
	line-height: 28px;
	float: left;
	margin-left: 4px;
	width: 245px;
	height: 28px;
	border: 1px solid #e0e1e5;
	border-radius: 6px;
	padding-left: 13px;
}
.search a{
	float: right;
	display: block;
	width:24px;
	height:24px;
    background: url(../img/spirit_img.png) no-repeat -347px -52px;
    float: left;
    margin: 4px 0 0 6px;
}
.magcenter{
	width: 1120px;
	margin: 0 auto;
}
.allclass{
	width: 90px;
	height:30px;
	float: left;
	color: #666666;
	line-height: 28px;
	position: relative;
	cursor: pointer;
}
.down img{
	position: absolute;
	right: 10px;
	top: 12px;
}
.down{
	display: block;
    float: left;
    width: 6px;
    height: 6px;
    background: url(../img/spirit_img.png) no-repeat -134px -64px;
    position: absolute;
    top: 13px;
    right: 9px;
}
.allclass input{
	width: 90px;
	height: 30px;
	color: #656565;
	background: #fff;
	border: 0;
	border-radius: 30px;
	line-height: 30px;/*添加*/
}
.selectright{
	width: 90px;
	height: 30px;
	float: right;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background:#968885;
	border-radius: 30px;
	border: 0;
	line-height: 30px;/*添加*/
}
.allclass span{
	float: left;
}
.sumclass{
	font-size:12px;
	display: block;
	float: left;
	margin:7px 0 0 12px;
	color:#a4a4a3;
}
.own{
	width: 1120px;
	margin-top: 20px;
}
.selctclass{
	background:#ebe8e7;
	padding: 10px;
}
.thead{
	width: 100%;
}
.own th{
	padding: 0 30px;
	height: 38px;
	font-size: 12px;
	color: #8f8f8f;
}
.own tr{
	border-bottom: 1px solid #ebe8e7;
}
.own .thead:hover{
	background:#ffffff;
}
.own tr:hover{
	background:#f2f2f2;
	cursor: pointer;
}
.own tr:hover .score{
	background:#f8b91e;
	color: #fff;
}
.own tr:hover .classtable{
	background:#f8b91e;
	color: #fff;
}
.own tr td{
	height: 49px;
	text-align: center;
	font-size: 12px;
}
.own tr td a{
	color:#4c4c4c;
}
.own .numcolor{
	color:#f8b91e;
}
.own .score{
	display: block;
	width:90px;
	height:30px;
	color: #4d4d4d;
	margin:0 auto;
	background: #fff;
	border: 1px solid #eeeeee;
	border-radius: 30px;
/*	font-size: 12px;*/
	line-height: 30px;/*添加*/
}
.own .classtable{
	display: block;
	width:90px;
	height:30px;
	color: #4d4d4d;
	margin:0 auto;
	background: #fff;
	border: 1px solid #eeeeee;
	border-radius: 30px;
	/*font-size: 12px;*/
	line-height: 30px;/*添加*/
}
.collect ul{
	width:100px;
	overflow: hidden;
	border: 1px solid #e0e1e5;
	position: absolute;
	background: #fff;
	top:38px;
	left: 0;
	display: none;
	border-radius: 6px;
	padding: 10px 0;
}
.collect .colclass{
	width:158px;
}
.collect ul li{
	height:38px;
	line-height: 38px;
	width: 144px;
	padding-left: 14px;
}
.collect .colothers ul li{
	height: 30px;
	line-height: 30px;
}
.collect ul li:hover{
	background: #ccc;
}
.collect li a{
	color: #000;
}
.colothers ul{
	left:158px;
	background: #e5e5e5;
}
.colothers ul li{
	width: 100px;
	padding-left: 0;
	text-align: center;
}
.collect .colothers li:hover{
	background: #9b928f;
	color: #fff;
}

