.tea_tit{
	font-size:18px;
	padding:30px 0 27px 20px;
}
.tea_center_batch{
	width:1200px;
	margin: 0 auto;
	background: #f5f5f5;
}
.tea_cen_batch{
	width: 1100px;
	margin: 0 auto;
	background: #fff;
	padding-bottom: 10px;
}
.tea_search_batch{
	width:1060px;
	padding: 21px 0 21px 0;
	margin: 0 auto;
}
.tea_searchk_batch{
	width: 268px;
    height: 28px;
    border: 1px solid #999;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}
.tea_searchk_batch input{
	display: block;
    float: left;
    border: 0;
    height: 26px;
    width: 220px;
    font-size: 12px;
    padding-left: 10px;
}
.tea_searchk_batch img{
	display: block;
    float: right;
    margin: 4px 5px 0 0;
}
.all_tea_batch{
	width: 1060px;
	margin: 0 auto;
	height: 58px;
	border-bottom: 1px solid #e4e4e4;
}
.all_tea2_batch{
	float: right;
	position: relative;
}
.all_tea2_batch input{
	width: 100px;
	height: 30px;
	color: #666666;
	font-size: 14px;
}
.all_tea3_batch{
	position: absolute;
	width: 138px;
	background: #fff;
	border: 1px solid #999;
	font-size: 14px;
	top: 32px;
	display: none;
}
.all_tea3_batch li{
	line-height: 38px;
	text-align: center;
}
.all_tea3_batch li:hover{
	background:#ccc;
	cursor: pointer;
}
.all_tea4_batch{
	position: absolute;
	width: 138px;
	top: 32px;
	left: 142px;
	background:#ccc;
	font-size: 14px;
	display: none;
}
.all_tea4_batch li{
	line-height: 38px;
	text-align: center;
}
.all_tea4_batch li:hover{
	background:#999;
	cursor: pointer;
}
.tea_num_batch{
	display: block;
	float: left;
	font-size: 16px;
	color:#666;
	margin-left:31px;
	line-height: 30px;
}
.all_tea2_cancel{
	display: none;
	float: left;
}
.all_tea2_edit{
	float: left;
	position: relative;
	margin-left: 18px;
	display: none;
}
.all_tea2_edit img{
	position: absolute;
	top: 12px;
	right:14px;
}
.all_tea2_batch .all_tea2_check{
	float: left;
	margin:7px 32px 0 0;
}
.all_tea2_check input{
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 2px;
}
.all_tea2_check span{
	font-size: 14px;
	color: #333;
	margin-left: 10px;
	float: left;
}
.tea_batch_msg{
	width: 1080px;
	margin: 0 auto;
}
.tea_batch_msg ul{
	overflow: hidden;
	margin-top: 10px;
	padding: 10px 0 10px 10px;
}
.tea_batch_msg ul li{
	width: 194px;
	height:238px;
	border:1px solid #ccc;
	box-shadow: 0 1px 10px 4px #fff;
	float: left;
	margin: 0 18px 20px 0;
}
.tea_batch_msg ul li:hover{
	box-shadow: 0 1px 10px 4px #d8d8d8;
}
.tea_batch_msg ul li a{
	display: block;
	overflow: hidden;
	position: relative;
}
.tea_tx_batch{
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	margin: 15px auto 0;
}
.tea_name_batch{
	color: #333;
	font-size:16px;
	text-align: center;
	margin-top: 24px;
}
.tea_class_batch{
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-top: 12px;
	line-height: 14px;
}
.tea_batch_check{
	position: absolute;
	top: 9px;
	right: 15px;
}
.tea_page_batch{
	text-align: center;
	padding-bottom: 31px;
}
.tea_page_batch input{
	width: 30px;
	height: 30px;
	color: #666;
	margin-right: 6px;
}
.tea_page_batch span{
	margin-right: 6px;
	color: #666;
}
.tea_change{
	width: 98px;
	position: absolute;
	background: #fff;
	border: 1px solid #999;
	font-size: 14px;
	right: 0;
	top: 40px;
	z-index: 10;
	display: none;
}
.tea_change li{
	line-height: 38px;
	text-align: center;
	cursor: pointer;
}
.tea_change li:hover{
	background: #ccc;
}
.tea_all_change{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 11;
	display: none;
}
.tea_change_class{
	border: 1px solid #999;
	position: absolute;
	width:500px;
	margin-left: -250px;
	left: 50%;
	z-index: 12;
	background: #fff;
	padding: 67px 0 21px 0;
	top:200px;
	display: none;
}
.tea_change_btn{
	margin-top:32px;
	text-align: center;
}
.tea_change_btn input{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: #666;
	margin-right: 34px;
}
.tea_change_class3{
	position: relative;
	margin-left: 48px;
}
.tea_change_class4{
	width:128px;
	height: 34px;
	float: left;
	border: 0;
	color: #666;
	font-size: 12px;
}
.tea_confirm{
	width: 100px;
	height: 36px;
	float: left;
	font-size: 14px;
	color: #666666;
}
.tea_change_class3_down{
	float: right;
	margin: 16px 16px 0 0;
}
.tea_check{
	float: left;
	border: 1px solid #a9a9a9;
	margin-right: 10px;
}
.tea_change_class1{
	width: 346px;
	margin: 24px auto 0;
	font-size: 14px;
	line-height: 34px;
}
.tea_change_nj{
	width: 130px;
	position: absolute;
	top: 44px;
	left: 0;
	background: #fff;
	border: 1px solid #999;
	text-align: center;
	display: none;
}
.tea_change_nj li{
	line-height: 38px;
}
.tea_change_nj li:hover{
	background: #ccc;
	cursor: pointer;
}
.tea_change_bj{
	width: 130px;
	position: absolute;
	top: 44px;
	right:37px;
	background: #ccc;
	text-align: center;
}
.tea_change_bj ul{
	display: none;
}
.tea_change_bj li:hover{
	background: #999;
	cursor: pointer;
}
.tea_change_bj li{
	line-height: 38px;
}
.tea_change_statue{
	border: 1px solid #999;
	position: absolute;
	width:500px;
	margin-left: -250px;
	left: 50%;
	z-index: 12;
	background: #fff;
	padding: 67px 0 21px 0;
	top:200px;
	display: none;
}
.tea_change_statue2{
	float: left;
	margin-right: 23px;
}
.tea_change_statue1{
	width: 346px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 34px;
	position:relative;
}
.tea_change_statue4{
	width:230px;
	height: 32px;
	float: left;
	border: 0;
	color: #666;
	font-size: 12px;
}
.tea_change_statue3{
	width: 264px;
	height:34px;
	border: 1px solid #a9a9a9;
	float: left;
	position: relative;
}
.tea_change_statue_btn{
	margin-top:81px;
	text-align: center;
}
.tea_change_statue_btn input{
	width: 126px;
	height: 35px;
	font-size: 14px;
	color: #666;
	margin-right: 34px;
}
.tea_change_statue_bj{
	width: 264px;
	border: 1px solid #999;
	position: absolute;
	left:79px;
	top: 40px;
	background: #fff;
	display: none;
}
.tea_change_statue_bj li{
	font-size: 14px;
	text-align: center;
	margin-top: 6px;
	cursor: pointer;
}
.tea_change_success{
	width: 100%;
	height: 50px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	background:#707070;
	opacity: 0.9;
	filter: alpha(opacity=90);
	line-height: 50px;
	position: absolute;
	display: none;
}
.tea_change_c1{
	float: left;
}
.tea_class_name{
	float: left;
	font-size: 14px;
    margin: 0 28px 0 36px;
}
.tea_change_csum{
	font-size: 14px;
}
.teabatch_page{
	text-align: center;
}
.teabatch_page input{
	width: 30px;
	height: 30px;
	margin-right:10px;
}
